@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* ! style rule for header section and media queries */

.header {
  display: flex;
  align-items: center;
  margin: 1rem 10%;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.toggle-icons {
  display: none;
}

.logo h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.logo .orange-title {
  color: #ff5400;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 44px;
}

nav ul a {
  text-decoration: none;
  color: var(--Dark-02, #424247);
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 375px) {
  .header {
    margin: 1rem 1%;
  }

  .toggle-icons {
    display: block;
  }

  .logo h2 {
    font-size: 1.2rem;
  }
  nav {
    display: none;
  }
}

/* ! style rule for banner section and media queries */

.banner {
  border-radius: 16px;
  background: url('Images/banner.png'),
    linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  background-position: initial;
  background-blend-mode: overlay;
  margin: 1rem 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-texts h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.banner-texts p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 676px;
  line-height: 26px; /* 162.5% */
  margin-bottom: 3rem;
}

.banner-form {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
}

.banner-form input,
.banner-form select,
.banner-form button {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  background: #fff;
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-form button {
  background: #ff5400;
  color: #fff;
  cursor: pointer;
}

.fa-magnifying-glass {
  margin-right: 8px;
}

@media screen and (max-width: 375px) {
  .banner {
    height: 90vh;
    margin: 1rem 1%;
    flex-direction: column;
    padding: 1rem; /* Todo: I have to fix the padding */
    background-position: center;
  }

  .banner-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 287px;
    gap: 1rem;
    border-radius: 8px;
    padding: 1rem;
  }

  .banner-texts h1 {
    font-size: 22px;
    margin-bottom: 8px;
    text-align: center;
  }

  .banner-texts p {
    font-size: 14px;
    text-align: center;
    width: 304px;
    line-height: 21px; /* 162.5% */
    margin-bottom: 2rem;
  }

  .banner-form label,
  .banner-form input,
  .banner-form select,
  .banner-form button {
    width: 100%;
  }
}

/* ! style rule for Popular tour section and media quires */

#popular__tour {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.31rem;
  margin: 6.5rem 10%;
}

.popular__tour__texts {
  max-width: 577px;
}

.heading {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.popular__tour__texts p,
.popular__tour__texts li {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.orange__btn {
  text-decoration: none;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 14px 35px;
  margin-top: 1.5rem;
  display: inline-block;
}

.popular__tour__image img {
  width: 100%;
}

@media screen and (max-width: 375px) {
  #popular__tour {
    flex-direction: column;
    gap: 3.31rem;
    margin: 2rem 1%;
  }

  .heading {
    font-size: 1.25rem;
  }

  .popular__tour__texts p,
  .popular__tour__texts li {
    font-size: 14px;
    line-height: 24px; /* 162.5% */
  }

  .orange__btn {
    font-size: 1rem;
    padding: 14px 35px;
    margin-top: 1rem;
  }
}

/* ! style rule for destination section and media queries */

#destination {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem 10%;
}

.heading__description {
  max-width: 643px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.image__gallery {
  display: grid;
  grid-gap: 24px;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 300px 286px 300px;
}

.image__gallery h2 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.maldives {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url('Images/maldives.png') lightgray 50% / cover no-repeat;
  grid-column: span 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indonesia {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url('Images/indonesia.png') lightgray 50% / cover no-repeat;
  grid-column: span 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.srilanka {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url('Images/srilanka.png') lightgray 50% / cover no-repeat;
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.north {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url('Images/northAmerica.png') lightgray 50% / cover no-repeat;
  grid-column: span 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kasmir {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url('Images/kasmir.png') lightgray 50% / cover no-repeat;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bangladesh {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url('Images/bangladesh.png') lightgray 50% / cover no-repeat;
  grid-column: span 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bandarban {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url('Images/bandarban.png') lightgray 50% / cover no-repeat;
  grid-column: span 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 375px) {
  .heading__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .image__gallery {
    display: block;
    margin: 0 auto;
  }

  .image__gallery > div {
    width: 100%;
    height: 176px;
    margin-bottom: 1.5rem;
  }

  #destination {
    margin: 2rem 1%;
  }
}

/* ! style rule for why choose us section and media queries */

#why__us {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem 10%;
}

.service__card__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}

.service__card {
  padding: 2rem;
}

.service__card h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.service__card p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.light__orange {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  grid-column: span 2;
}

.light__blue {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  grid-column: span 2;
}

.light__red {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  grid-column: span 2;
  grid-column-start: -4;
  grid-column-end: -2;
}

@media screen and (max-width: 375px) {
  #why__us {
    margin: 2rem 1%;
  }

  .service__card__container {
    display: block;
  }

  .service__card {
    margin-bottom: 1.5rem;
  }
}

/* ! style rule for deal & discount section and media queries */

#deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 10%;
  gap: 1.5rem;
}

.place-1 {
  border-radius: 16px;
  background: url('Images/satorini1.png') lightgray 50% / cover no-repeat;
  height: 54vh;
  width: 100%;
}

.place-2 {
  border-radius: 16px;
  background: url('Images/satorini2.png') lightgray 50% / cover no-repeat;
  height: 54vh;
  width: 100%;
}

.place-3 {
  border-radius: 16px;
  background: url('Images/satorini1.png') lightgray 50% / cover no-repeat;
  height: 54vh;
  width: 100%;
}

.book__details-1,
.book__details-3 {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 28px;
  margin: 56px;
  float: right;
}

.book__details-2 {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 28px;
  margin: 56px;
  float: left;
}

.book__details h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.deal__desc {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 452px;
  line-height: 26px; /* 162.5% */
}

.price {
  color: #ff5400;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.book__btn {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 14px 24px;
  border: none;
}

.deal__system {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.deal__system p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
}

.deal {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 375px) {
  #deals {
    margin: 2rem 1%;
    gap: 1.5rem;
  }

  .place-1,
  .place-2,
  .place-3 {
    height: 85vh;
    position: relative;
  }

  .book__details-1,
  .book__details-2,
  .book__details-3 {
    padding: 28px;
    margin: 16px;
    position: relative;
    bottom: -216px;
  }

  .deal__desc {
    font-size: 14px;
    width: 254px;
    line-height: 24px; /* 162.5% */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .book__btn {
    font-size: 18px;
    font-weight: 700;
  }

  .deal__system {
    gap: .5rem;
    flex-wrap: wrap;
  }

  .deal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
